@media (max-width: 1200px)
    .promo
        height: auto
       

    
@media (max-width: 991px)
    .container
        max-width: 700px
    
        .promo__wrapper
            margin-top: 45px
            .promo__header
                font-size: 32px
            .promo__subheader
                margin-top: 1px
                font-size: 18px
            .promo__icons
                margin-top: 30px
        .button_promo
            margin-top: 45px
            min-width: 250px
    section.reasons
        height: 400px
        padding: 35px 0 35px 0
        &__wrapper
            .reasons__item
                margin-top: 30px
                max-width: 200px
                .reasons__descr
                    font-size: 12px
                    font-weight: 400
    .carousel .carousel__slider
        width: 650px
        img 
            width: 100%
        .slick-prev
            left: -66px
        .slick-next
            right: -66px

@media (max-width: 767px)
    .container
        width: 550px
        .promo
            max-height: 550px
        .header
            &__logo
                max-width: 160px
            .header__official
                max-width: 200px
                font-size: 10px
                span 
                    font-size: 15px
            .header__tel
                font-size: 14px
        .promo__wrapper
            margin-top: 65px
            .promo__subheader
                margin-top: 5px
            .promo__icons
                margin-top: 60px
                max-width: 335px
            .button_promo
                margin-top: 65px

        .reasons
            &__subheader
                font-size: 15px
            &__descr
                font-size: 12px

    .form .title
        font-size: 27px
    .form .form__descr
        margin-top: 50px

    section.carousel
        height: 600px
        padding: 60px 0 60px 0
        .carousel__slider
            width: 550px



@media (max-width: 575px)
    .container
        width: 100%
    
    section.promo
        height: 500px
        padding: 5px 10px 
        .header
            .header__logo
                width: 45%
            .header__contact
                width: 45%
            
            .button
                display: none
            .header__tel
                width: 100%
                font-size: 15px

        
            &__official
                display: none
        .promo__wrapper
            .promo__header
                display: block
                margin: 10px auto
                font-size: 25px
            .promo__subheader
                text-align: center
                display: block
                margin: 0 auto
                font-size: 18px
            .promo__icons
                max-width: 310px
                .promo__icon
                    font-size: 12px
            .button_promo
                
                height: 40px
                width: 200px
            
    section.reasons
        padding: 30px 10px 
        min-height: 1000px
        .reasons__wrapper
            flex-direction: column
            align-items: center

            .reasons__item
                margin-top: 25px
                max-width: 300px
                .reasons__subheader
                    font-size: 16px
                    font-weight: 700
                .reasons__descr
                    font-size: 16px
                    font-weight: 500
    section.form
        height: 500px
        padding: 50px 10px
        .title
            font-size: 22px
            text-align: center
        .form__descr
            display: none
        
        .feed_form
            margin: 35px auto

    section.carousel 
        height: 310px
        padding: 40px 0 40px 0
        .carousel__slider
            width: 100vw
        
    
       
