*
    font-family: MuseoSansCyrl, sans-serif
.container
    max-width: 950px
    margin: 0 auto

@import base/_mixinvar.sass
@import base/_media.sass
// @import _general.sass
@import blocks/_promo.sass
@import blocks/_header
@import blocks/_buttons
