*
    font-family: MuseoSansCyrl, sans-serif
.container
    max-width: 950px
    margin: 0 auto
    padding: 0
  

@import base/_mixinvar.sass
@import base/_media.sass
@import blocks/_promo.sass
@import blocks/_header
@import blocks/_buttons
@import blocks/_reasons
