.form
    background: url(../../img/form_bg.jpg) center center/cover no-repeat
    height: 680px
    padding: 90px 10px 92px 10px
    &__subheader
        font-size: 36px
        font-weight: bold
        text-align: left
        color: #ffffff
        line-height: normal
        text-transform: uppercase
    &__descr
        margin-top: 75px
        font-size: 20px
        font-weight: 500
        text-align: left
        line-height: normal
        color: #ffffff

